<%- include("../layouts/adminPartials/header.ejs") %>

<style>
  /* Sample CSS styles, customize as needed */
.action-button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #5e5e5e; /* Change to your desired hover color */
}

.edit-button {
  background-color: #00c230;
  color: white;
}

.delete-button {
  background-color: #ff0800;
  color: white;
}
 /* Styling for Pagination */
 .pagination {
    margin-top: 20px;
  }

  .pagination .page-item {
    display: inline-block;
    margin: 0 4px;
  }

  .pagination .page-link {
    border-radius: 20px;
    padding: 5px 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .pagination .page-link:hover {
    background-color: #f0f0f0;
  }

  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }

  .pagination .page-item.disabled .page-link {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: not-allowed;
  }
</style>
<main class="h-full pb-16 overflow-y-auto">
  <div class="container grid px-6 mx-auto">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <a href="./addcoupon">
        <button class="btn btn-danger">Add Coupon</button>
      </a>
    </h2>

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">No</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Amount</th>
              <th class="px-4 py-3">User Count</th>
              <th class="px-4 py-3">Discount Type</th>
              <th class="px-4 py-3">Expiry Date</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <% coupons.reverse().forEach((value, index) => { %>
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3"><%= index + 1 %></td>
              <td class="px-4 py-3"><%= value.code %></td>
              <td class="px-4 py-3"><%= value.discountAmount %></td>
              <td class="px-4 py-3"><%= value.maxUsers %></td>
              <td class="px-4 py-3"><%= value.discountType %></td>
              <td class="px-4 py-3"><%= value.expiryDate.toISOString().substring(0, 10) %></td>
              <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm">
                  <a href="/admin/editcoupon?id=<%= value._id %>">
                    <button class="action-button edit-button" aria-label="Edit">
                      Edit
                    </button>
                  </a>
                  <a href="/admin/deletecoupon?id=<%= value._id %>">
                    <button class="action-button delete-button" aria-label="Delete">
                      Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 
  <!-- Pagination links/buttons with styling -->
  <nav aria-label="Order List Pagination">
    <ul class="pagination justify-content-center">
      <% if (currentPage> 1) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="/admin/coupon?page=<%= currentPage - 1 %>"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
      <% } %> <% for (let page=1; page <=totalPages; page++) { %>
      <li class="page-item <%= currentPage === page ? 'active' : '' %>">
        <a class="page-link" href="/admin/coupon?page=<%= page %>">
          <%= page %>
        </a>
      </li>
      <% } %> <% if (currentPage < totalPages) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="/admin/coupon?page=<%= currentPage + 1 %>"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
      <% } %>
    </ul>
  </nav>
</main>

<%- include("../layouts/adminPartials/footer.ejs") %>
