<%- include("../layouts/adminPartials/header.ejs") %>
<section class="content-main">
  <div class="content-header">
      <div>
          <h2 class="content-title card-title">Dashboard</h2>
          <p>Whole data about your business here</p>
      </div>
      <div>
        <a href="/admin/salesReport" class="btn btn-primary"
          ><i class="icon material-icons md-insert_chart"></i><strong>Create Report</strong></a
        >
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-primary-light"
                ><span class="icon icon-sm rounded-circle bg-primary-light"
                  >&#x20B9;</span
                >
              </span>
              <div class="text">
                <h6 class="mb-1 card-title">Total Revenue</h6>
                <span>₹ <%= totalRevenue %></span>
                <span class="text-sm"> Shipping fees are not included </span>
              </div>
            </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Orders</h6>
                      <span><%= ordersCount %></span>
                      <span class="text-sm"> Excluding orders in transit </span>
                  </div>
              </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Products</h6>
                      <span><%= productCount %></span>
                      <span class="text-sm"> In <%= categoryCount %> Categories </span>
                  </div>
              </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-trending_up"></i>
                  </span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Daily Earnning</h6>
                      <span>₹ <%= totalDailyEarnings %>.00</span>
                      <span class="text-sm"> Based in your local time. </span>
                  </div>
              </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-trending_up"></i></span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Weekly Earning</h6>
                      <span>₹ <%= totalWeeklyEarnings %>.00</span>
                      <span class="text-sm"> Based in your local time. </span>
                  </div>
              </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-trending_up"></i>

                  </span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Monthly Earning</h6>
                      <span>₹ <%= totalMonthlyEarnings %>.00</span>
                      <span class="text-sm"> Based in your local time. </span>
                  </div>
              </article>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card card-body mb-4">
              <article class="icontext">
                  <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-trending_up"></i>
                  </span>
                  <div class="text">
                      <h6 class="mb-1 card-title">Yearly Earning</h6>
                      <span>₹ <%= totalYearlyEarnings %>.00</span>
                      <span class="text-sm"> Based in your local time. </span>
                  </div>
              </article>
          </div>
      </div>

    
      <!--  -->
      <!-- <div class="col-xl-8 col-lg-12 col-12">
        <div class="card mb-4">
            <article class="card-body">
                <h5 class="card-title">Category by Sales.</h5>
                <canvas id="myChart2" height="133px"></canvas>
            </article>
        </div>
    </div> -->

    <div class="col-xl-4 col-lg-12 col-12">
        <div class="card mb-4">
            <article class="card-body">
                <h5 class="card-title">Payment Method</h5>
                <canvas id="myChart3" height="170px"></canvas>
            </article>
        </div>
    </div>
   
      <!--  -->
      <div class="col-lg-12">
        <div class="card card-body mb-4">
                  <h5 class="card-title">Sale statistics</h5>
                  <canvas id="salesReportChart" style="max-height: 400px;"></canvas>
          </div>
      </div>

  </div>
</section>
<!-- content-main end// -->

<%- include("../layouts/adminPartials/footer.ejs") %>


<script>
    var ctx = document.getElementById('salesReportChart').getContext('2d');

    var data = {
        labels: ['Day 1', 'Day 2', 'Day 3', ],
        datasets: [
            {
                label: 'Daily Sales',
                data: <%= JSON.stringify(dailySalesData) %>,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            },
            {
                label: 'Weekly Sales',
                data: <%= JSON.stringify(weeklySalesData) %>,
                backgroundColor: 'rgba(0, 128, 0, 0.2)', 
                borderColor: 'rgba(0, 128, 0, 1)', 
                borderWidth: 2
            },
            {
                label: 'Monthly Sales',
                data: <%= JSON.stringify(monthlySalesData) %>,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2
            },
            {
                label: 'Yearly Sales',
                data: <%= JSON.stringify(yearlySalesData) %>,
                backgroundColor: 'rgba(205, 205, 205, 0.2)',
                borderColor: 'rgba(255, 193, 7, 1)',
                borderWidth: 2
            }
        ]
    };

    var myChart = new Chart(ctx, {
        type: 'line',
        data: data
    });
</script>


<script>
    
        const catQty = (<%- JSON.stringify(categorySales.map(item => item.qty)) %>);
    const catName = (<%- JSON.stringify(categorySales.map(item => item._id)) %>);
console.log("catQty:", catQty);
console.log("catName:", catName);

(function ($) {
  "use strict";

/*Sale statistics Chart*/
if ($('#myChart2').length) {
        var ctx = document.getElementById("myChart2");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: catName,
            datasets: [
                {
                    label: "Qauntity",
                    backgroundColor:["#6312cc","#39CAF0","#65910d","#e67c12","#0ca6cc","#0ca6cc"],
                    barThickness:10,
                    data: catQty
                }
            ]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                        usePointStyle: true,
                        },
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    } //end if

// Payment method.
if ($('#myChart3').length) {
        var ctx = document.getElementById("myChart3");
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
            labels: ["COD" , "onlinePayment","Wallet"],
            datasets: [
                {
                    label: "Payment",
                    backgroundColor: ["#00FF00","#FFFF00","#FFA500"],
                    barThickness:10,
                    data: ['<%= codPayAmount %>','<%= onlinePayment %>','<%= walletPayAmount %>']
                }
            ]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                        usePointStyle: true,
                        },
                    }
                }
            }
        });
    }
})(jQuery);
</script>
