<%- include("../layouts/adminPartials/header.ejs") %>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .container.grid {
      margin-top: 40px;
    }

    .customer-section {
      background-color: #e4e4e4;
      border: 1px solid #e2e8f0;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }

    .customer-section h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .customer-section p {
      font-size: 16px;
      color: #000000;
    }

    .customer-section form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .customer-section select {
      padding: 8px;
      border: 1px solid #e2e8f0;
      border-radius: 4px;
      background-color: #edf2f7;
      color: #0c0c0e;
      margin: 10px 10px 0;
    }

    .customer-section a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #00b109;
      color: #ffffff;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      margin-left: 400px;
      margin-top: 30px;
    }

    .customer-section a:hover {
      background-color: #ffffff;
    }

    .product-card {
      background-color: #ffffff;
      border: 1px solid #cfd5df;
      border-radius: 8px;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-card .product-image img {
      width: 100%;
      height: auto;
    }

    .product-card .product-details {
      padding: 20px;
    }

    .product-info {
      background-color: #ffffff;
      border: 1px solid #cfd5df;
      border-radius: 8px;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-info p {
      font-size: 16px;
      color: #000000;
      text-align: justify;
    }

    .product-info {
      background-color: #ffffff;
      border: 1px solid #cfd5df;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }

    .product-info h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-info img {
      width: 200px;
      height: auto;
      margin-bottom: 10px;
    }

    .product-info p {
      font-size: 16px;
      color: #000000;
      text-align: justify;
    }
  </style>

  <main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
      <div class="customer-section">
        <h4>Customer Address:</h4>
        <p>
          <%= orderData.deliveryDetails %>
        </p>

        <h4>Customer Name: <%= orderData.userName %>
        </h4>

        <form action="">
          <div>
            <h4>Status</h4>
            <select name="category" class="form-select">
              <% if(Catdata.length>0){
                for(let i=0;i<Catdata.length;i++){ %>
                  <option>
                    <%= Catdata[i].name%>
                  </option>
                  <% } }else{ %>

                    <option>No Category Availiable</option>
                    <% } %>
            </select>
          </div>
        </form>
      </div>

      <% product.forEach((value, index)=> { %>

        <!-- Product Card -->
        <div class="product-card bg-white overflow-hidden rounded-lg shadow-xs">
          <div class="product-image">
            <img src="/assets/IMAGES/<%= value.productId.image[0] %>" alt="Product Image">
          </div>
          <div class="product-details p-4">
            <h4 class="font-bold text-xl">
              <%= value.productId.name %>
            </h4>
            <p><span class="font-semibold">Quantity:</span>
              <%= value.quantity %>
            </p>
            <p><span class="font-semibold">Method:</span>
              <%= orderData.paymentMethod %>
            </p>
            <p><span class="font-semibold">Status:</span>
              <%= orderData.status %>
            </p>
          </div>
        </div>

        <div class="product-info bg-white overflow-hidden rounded-lg shadow-xs">
          <div class="p-4">
            <h4 class="font-bold text-xl">Product Image</h4>
            <img src="/assets/CropedImages/<%= value.productId.image[0] %>" alt="Product Image">
            <p class="mt-4"><span class="font-semibold">Description:</span>
              <%= value.productId.description %>
            </p>
          </div>
        </div>

        <% }) %>

    </div>
  </main>

  <%- include("../layouts/adminPartials/footer.ejs") %>