<%- include("../layouts/adminPartials/header.ejs") %>

  <style>
    .header {
      padding: 20px;
      background-color: #000000;
      color: #fff;
    }

    .footer {
      padding: 20px;
      background-color: #000000;
      color: #fff;
      text-align: center;
    }

    h2 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 20px;
    }

    .table-container {
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
    }

    .table-container {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .table th {
      background-color: #f2f2f2;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 22px;
    }

    .table tr {
      transition: background-color 0.2s ease;
    }

    .table tr:hover {
      background-color: #f9f9f9;
    }

    .genric-btn {
      display: inline-block;
      padding: 8px 16px;
      border: 2px solid #000;
      border-radius: 5px;
      background-color: #fff;
      color: #000;
      font-size: 12px;
      text-decoration: none;
      transition: background-color 0.2s ease;
    }

    .genric-btn:hover {
      background-color: #f2f2f2;
    }


    .status-label {
      display: inline-block;
      padding: 6px 10px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
    }

    .status-placed {
      color: #1e3a2b;
      background-color: #89dd9f;
      border-radius: 20px;

    }

    .status-canceled {
      color: #ff2200;
      background-color: #fccfcf;
      padding: 10px 12px;
      border-radius: 20px;

    }

    .status-pending {
      color: #f57c00;
      background-color: #ffdbb5;
      border-radius: 20px;

    }

    .status-approved {
      color: #4a90e2;
      background-color: #b8dbf3;
      border-radius: 20px;

    }

    .status-delivered {
      color: #d3d3d3;
      background-color: #c5cae9;
      border-radius: 20px;

    }

    .btn-danger {
      background-color: #ff0000;
      color: #fff;
      border-radius: 20px;
      padding: 10px 12px;
      font-size: 12px;
    }

    .btn-primary {
      background-color: #04b104;
      color: #fff;
      border-radius: 20px;
      padding: 6px 12px;
      font-size: 12px;
    }

    .btn-secondary {
      background-color: #ff9800;
      color: #fff;
      border-radius: 20px;
      padding: 6px 12px;
      font-size: 12px;
    }

    tbody tr:hover {
      background-color: #f5f5f5;
    }

    td a.order-link {
      color: #616161;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    td a.order-link:hover {
      color: #0056b3;
    }

    td.price {
      color: #272727;
    }

    td.status-cell {
      padding: 12px 0;
    }

    td.status-cell:hover .status-label {
      transform: scale(1.05);
    }

    td.action-cell {
      padding: 12px 0;
    }

    td.action-cell a.canceled-label {
      color: #d61b00;
      background-color: #fccfcf;
      padding: 4px 10px;
      border-radius: 20px;
      font-size: 10px;
    }

    td.action-cell a span.btn-secondary,
    td.action-cell a span.btn-primary {
      font-size: 13px;
      padding: 10px 12px;
      border-radius: 20px;
    }

    td.action-cell a span.btn-secondary+span,
    td.action-cell a span.btn-primary+span {
      margin-left: 10px;
    }

    .pagination {
      margin-top: 20px;
    }

    .pagination .page-item {
      display: inline-block;
      margin: 0 4px;
    }

    .pagination .page-link {
      border-radius: 20px;
      padding: 5px 10px;
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
    }

    .pagination .page-link:hover {
      background-color: #f0f0f0;
    }

    .pagination .page-item.active .page-link {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }

    .pagination .page-item.disabled .page-link {
      color: #ccc;
      background-color: transparent;
      border-color: transparent;
      cursor: not-allowed;
    }
  </style>
  <main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
      <h2 class="my-6 text-3xl font-semibold text-gray-700 dark:text-gray-200">
        Order Details
      </h2>

      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">SL</th>
                <th class="px-4 py-3">Order Id</th>
                <th class="px-4 py-3">Price</th>
                <th class="px-5 py-3">paymentMethod</th>
                <th class="px-5 py-3">Status</th>
                <th class="px-5 py-3">Order Actions</th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
              <% if (orderData.length> 0) { for (let i = 0; i < orderData.length; i++) { %>
                  <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3">
                      <%= i + 1 %>
                    </td>
                    <td class="px-4 py-3">
                      <a href="/admin/viewOrders?id=<%= orderData[i]._id %>" class="order-link">
                        <%= orderData[i]._id %>
                      </a>
                    </td>
                    <td class="px-4 py-3 price">
                      ₹ <%= orderData[i].totalAmount %>
                    </td>
                    <td class="px-5 py-4 price">
                      <%= orderData[i].paymentMethod %>
                    </td>

                    <td class="px-5 py-3 status-cell">
                      <% if (orderData[i].status==="placed" || orderData[i].status==="delivered" ||
                        orderData[i].status==="waiting for approval" || orderData[i].status==="Return Approved" ) { %>
                        <a href="/admin/orderStatus?id=<%= orderData[i]._id %>">
                          <span class="status-label status-placed">
                            <%= orderData[i].status %>
                          </span>
                        </a>
                        <% } else if (orderData[i].status==="canceled" ) { %>
                          <a>
                            <span
                              class="status-canceled px-3 py-1 text-xs font-semibold leading-tight text-gray-800 bg-gray-200 rounded-full dark:text-gray-100 dark:bg-gray-700">
                              <%= orderData[i].status %>
                            </span>
                          </a>
                          <% } else if (orderData[i].status==="pending" ) { %>
                            <a href="/admin/orderStatus?id=<%= orderData[i]._id %>">
                              <span
                                class="status-pending px-3 py-1 text-xs font-semibold leading-tight text-orange-800 bg-orange-200 rounded-full dark:text-white dark:bg-orange-600">
                                <%= orderData[i].status %>
                              </span>
                            </a>
                            <% } %>
                    </td>


                    <td class="px-5 py-3 action-cell">
                      <% if (orderData[i].status==="canceled" ) { %>
                        <a
                          class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
                          Canceled
                        </a>
                        <%}else if(orderData[i].status!=="delivered" && orderData[i].status!=="waiting for approval"
                          &&orderData[i].status!=="Return Approved" &&orderData[i].status!=="pending" ){ %>

                          <a href="/admin/orderCancel?id=<%= orderData[i]._id %>">
                            <span class="btn-danger">Cancel</span>
                          </a>
                          <% if (orderData[i].status==="placed" || orderData[i].status==="delivered" &&
                            orderData[i].status !=="delivered" && orderData[i].status !=="pending" ) { %>
                            <a href="/admin/orderDeliverd?id=<%= orderData[i]._id %>">
                              <span class="btn-primary">Delivered</span>
                            </a>
                            <% } %>
                              <%}else if(orderData[i].status==="Return Approved" ) {%>
                                <a>
                                  <span
                                    class="text-success font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700">

                                    Approved
                                  </span>
                                </a>


                                <%}else if(orderData[i].status!=="delivered" &&orderData[i].status!=="pending" ){%>

                                  <a href="/admin/orderDeliverd?id=<%= orderData[i]._id %>">
                                    <span class="btn-secondary">Approve</span>
                                  </a>
                                  <%}%>
                    </td>
                    </td>
                  </tr>
                  <% } } else { %>
                    <tr>
                      <td colspan="6" class="text-center">
                        <h1>No orders found</h1>
                      </td>
                    </tr>
                    <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Pagination links/buttons with styling -->
    <nav aria-label="Order List Pagination">
      <ul class="pagination justify-content-center">

        <% if (currentPage> 1) { %>
          <li class="page-item">
            <a class="page-link" href="/admin/orderDetails?page=<%= currentPage - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <% } else { %>
            <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            <% } %>

              <% for (let page=1; page <=totalPages; page++) { %>
                <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                  <a class="page-link" href="/admin/orderDetails?page=<%= page %>">
                    <%= page %>
                  </a>
                </li>
                <% } %>

                  <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="/admin/orderDetails?page=<%= currentPage + 1 %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    <% } else { %>
                      <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                      </li>
                      <% } %>

      </ul>
    </nav>


  </main>
  <%- include("../layouts/adminPartials/footer.ejs") %>