<%- include("../layouts/adminPartials/header.ejs") %>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #e2e8f0;
        }

        .table th {
            background-color: #fcfafa;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            color: #000000;
        }

        .table td {
            font-size: 14px;
            color: #000000;
        }

        .table img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .btn {
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #545bdf;
            color: #ffffff;
            border: none;
        }

        .btn-success {
            background-color: #229113;
            color: #ffffff;
            border: none;
        }

        .btn-danger {
            background-color: #ff0000;
            color: #ffffff;
            border: none;
        }

        .btn:focus {
            outline: none;
        }

        .btn:not(:last-child) {
            margin-right: 6px;
        }

        .pagination {
            margin-top: 20px;
        }

        .pagination .page-item {
            display: inline-block;
            margin: 0 4px;
        }

        .pagination .page-link {
            border-radius: 20px;
            padding: 5px 10px;
            color: #333;
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .pagination .page-link:hover {
            background-color: #f0f0f0;
        }

        .pagination .page-item.active .page-link {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .pagination .page-item.disabled .page-link {
            color: #ccc;
            background-color: transparent;
            border-color: transparent;
            cursor: not-allowed;
        }
    </style>

    <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                <a href="/admin/add_category">
                    <button class="btn btn-primary">Add Categories</button>
                </a>
            </h2>

            <div class="w-full overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap table">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">Category</th>
                                <th class="px-4 py-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <% if( catData.length>0 ){ for(let i=0;i<catData.length;i++){ %>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3">
                                            <div class="flex items-center text-sm">
                                                
                                                <div>
                                                    <p class="font-semibold">
                                                        <%=catData[i].name %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="px-4 py-3">
                                            <div class="flex items-center space-x-4 text-sm">
                                                <a href="/admin/edit_category?id=<%= catData[i]._id %>"
                                                    class="btn btn-success ml-auto">Edit</a>
                                     
                                                <% if (catData[i].is_blocked===false) { %>
                                                    <a href="/admin/catBlock?id=<%=catData[i]._id%>"
                                                        class="btn btn-success">List</a>
                                                    <% } else { %>
                                                        <a href="/admin/catUnblock?id=<%=catData[i]._id%>"
                                                            class="btn btn-danger">Unlist</a>
                                                        <% } %>

                                         
                                            </div>
                                        </td>
                                    </tr>
                                    <% } }else{ %>
                                        <tr>
                                            <h1 style="color: red;">List Empty... </h1>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <nav aria-label="Order List Pagination">
                        <ul class="pagination justify-content-center">

                            <% if (currentPage> 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/productCategory?page=<%= currentPage - 1 %>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&laquo;</span>
                                    </li>
                                    <% } %>

                                        <% for (let page=1; page <=totalPages; page++) { %>
                                            <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                                                <a class="page-link" href="/admin/productCategory?page=<%= page %>">
                                                    <%= page %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <% if (currentPage < totalPages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="/admin/productCategory?page=<%= currentPage + 1 %>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="page-item disabled">
                                                            <span class="page-link" aria-hidden="true">&raquo;</span>
                                                        </li>
                                                        <% } %>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <%- include("../layouts/adminPartials/footer.ejs") %>