<%- include("../layouts/userPartials/header.ejs") %>
<style>
  .container {
    margin-top: 50px;
  }

  .contact_form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    border: 1px solid #7e6a6a;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
  }

  .form-control:focus {
    outline: none;
    border-color: #1be44d;
  }


</style>

<br /><br /><br />

<div class="container">
  <form class="row contact_form" action="" method="post">
    <div class="col-md-6 form-group p_star">

      <input
        type="text"
        class="form-control"
        id="sname"
        name="fname"
        value="<%=value.fname%>"
      />
    </div>

    <div class="col-md-6 form-group p_star">

      <input
        type="text"
        class="form-control"
        id="sname"
        name="sname"
        value="<%=value.sname%>"
      />
    </div>
    <input type="hidden" name="index" value="<%=index%>" id="" />

    <div class="col-md-6 form-group p_star">

      <input
        value="<%=value.mobile%>"
        type="text"
        class="form-control"
        id="mobile"
        name="mobile"
      />
    </div>

    <div class="col-md-6 form-group p_star">

      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        value="<%=value.email%>"
      />
    </div>

    <div class="col-md-12 form-group p_star">

      <textarea
        class="form-control"
        name="address"
        id="address"
        rows="1"
        placeholder="Address"
      >
<%=value.address%></textarea
      >
    </div>

    <div class="col-md-12 form-group p_star">

      <input
        value="<%=value.city%>"
        type="text"
        class="form-control"
        id="city"
        name="city"
      />
    </div>

    <div class="col-md-12 form-group">

      <input
        type="text"
        class="form-control"
        id="pin"
        name="pin"
        placeholder="PIN"
        value="<%=value.pin%>"
      />
    </div>

    <div class="col-md-12 py-4 form-group text-center">
      <button type="submit" class="btn btn_danger py-4 px-5">SUBMIT</button>
    </div>
    </form>
</div>

<%- include("../layouts/userPartials/footer.ejs") %>
