<%- include("../layouts/userPartials/header.ejs") %>

<style>

.confirmation_part {
  padding: 50px 0;
}

.order_card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.product_card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.product_image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  object-fit: cover;
}

.product_details {
  flex: 1;
}

.product_name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product_quantity,
.product_price {
  color: #525050;
  margin: 0;
}

.product_status {
  font-weight: bold;
  color: #0099ff;
}

.payment_details {
  margin-top: 20px;
  border-top: 1px solid #666262;
  padding-top: 20px;
}

.payment_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list_2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_2 li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.list_2 a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.list_2 span {
  color: #ff1900;
  font-weight: bold;
  float: right;
}
.invoice-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #1c7215;
    border-radius: 30px;
    padding: 15px;
    color: #ffffff; 
    font-weight: bold;
}


</style>

<main>
  <section class="confirmation_part mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="order_box">
            <h3><u>Customer Address</u></h3>
            <div class="order_card">
              <%= orderData.deliveryDetails %>
            </div>
          </div>
          <br>
          
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="px-4 py-3">Order Details</h2>
             <a href="/invoice?orderId=<%= orderData._id %>" class="invoice-btn">
                <span style="font-weight: bold; text-decoration: underline;">Download Invoice</span>
            </a>
        </div>
        
          <% product.forEach((value, index) => { %>
            <div class="order_card">
              
              <div class="product_card">
                <img class="product_image" src="/assets/CropedImages/<%= value.productId.image[0] %>" alt="">
                <div class="product_details">
                  <p class="product_name"><%= value.productId.name %></p>
                  <p class="product_quantity">Quantity: <%= value.quantity %></p>
                  <p class="product_price">Amount: <%= value.productId.price %></p>
                </div>
              </div>
              <div class="product_status">
                Status: <%= orderData.status %>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_box payment_details">
            <div class="payment_title">Your Order Payment Details</div>
            <ul class="list_2">
              <li><a>Subtotal <span>RS : <%= orderData.totalAmount %></span></a></li>
              <li><a>Wallet <span><%= orderData.orderWallet %></span></a></li>
              <li><a>Coupon <span><%= orderData.ordercoupon %></span></a></li>
              <li><a>Grand Total <span id="total1">RS : <%= orderData.totalAmount %></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../layouts/userPartials/footer.ejs") %>
