<%- include("../layouts/userPartials/header.ejs") %>
  <style>
    /* Add your custom styles here */

    /* Hero Area */
    .hero-area {
      background: url("/path/to/hero-image.jpg") no-repeat center;
      background-size: cover;
      padding: 200px 0;
      color: #b43333;
      text-align: center;
      background: #e0e0e0;
    }

    .hero-content h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    /* Breadcrumb Area */
    .breadcrumb-area {
      padding: 20px 0;
      background-color: #e6e6e6;
    }

    .breadcrumb-content h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #000000;
    }

    .breadcrumb-content nav {
      font-size: 16px;
    }

    /* Single Product Area */
    .single-product-area {
      margin-top: 50px;
    }

    .product-carousel .single-product-item img {
      max-width: 100%;
    }

    .product-info h3 {
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 35px;
    }

    .product-info h2 {
      font-size: 36px;
      font-weight: bold;
      color: #092399;
      margin-bottom: 15px;
    }

    .product-info ul.list {
      margin-bottom: 20px;
    }

    .product-info ul.list li {
      font-size: 16px;
      color: #000000;
      margin-bottom: 5px;
    }

    .product-info p {
      font-size: 16px;
      color: #000000;
      margin-bottom: 20px;
    }

    /* 
    .product-actions {
      display: flex;
    } */


    /* Subscribe Part */
    .subscribe-part {
      padding: 50px 0;
      background-color: #191d4d;
      text-align: center;
      margin-top: 30px;
    }

    .subscribe-content h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .subscribe-content p {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 30px;
    }

    .subscribe-form input {
      padding: 10px 25px;
      border: none;
      border-radius: 30px;
      background-color: #f1d7d7;
    }

    .subscribe-form .btn_1 {
      padding: 12px 25px;
      border: none;
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 30px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }

    .subscribe-form .btn_1:hover {
      background-color: #222;
    }

    /* Styling for tab navigation */
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }

    /* Styling for product CropedImages */
    .product__thumb__pic img {
      max-width: 100%;
      height: auto;
      border: 1px solid #ddd;
      transition: transform 0.2s;
      cursor: pointer;
    }

    .product__details__pic__item {
      max-width: 100%;
      padding: 80px;
      height: auto;
      transition: transform 0.2s;
      cursor: pointer;
    }

    /* Hover effect to add a subtle zoom */
    .zoom-image:hover {
      transform: scale(1.1);
      border-color: #ff9900;
    }

    /* .tab-content{
width: 50%;
height: 50%;
} */
    .container {
      display: flex;
    }

    .quantity {
      flex-direction: column;
      display: flex;
      padding: 20px;
      /* align-items: center; */
    }

    .input-number {
      width: 50px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
    }

    .quantity-controls {
      display: flex;
      align-items: center;
    }

    .quantity-controls button {
      padding: 7px 10px;
      border: none;
      background-color: #000000;
      font-size: 12px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .quantity-controls button:hover {
      background-color: #616161;
    }

    .product-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    /* .quantity {
  margin-bottom: 10px;
} */
    /* Custom styles for carousel buttons */
  </style>
  <main>
    <!-- Hero Area Start -->
    <section class="hero-area">
      <div class="container">
        <div class="hero-content">
          <h2>Product Details</h2>
        </div>
      </div>
    </section>

    <!-- Hero Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area">
      <div class="container">
        <div class="breadcrumb-content">
          <h1>
            <%= data.name %>
          </h1>
          <nav>
            <a href="/">Home</a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="/shop">Shop</a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="#">Product Details</a>
          </nav>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Single Product Area Start -->
    <section class="single-product-area">
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg-6">
            <div class="ltn__shop-details-img-gallery">
              <div class="ltn__shop-details-large-img">
                <div class="single-large-img">
                  <img src="/assets/CropedImages/<%= data.image[0] %>" alt="<%= data.name %>" class="zoom-image" />
                </div>
              </div>
            </div>

            <div class="ltn__shop-details-small-img slick-arrow-2">
              <% for (let i=0; i < data.image.length; i++) { %>
                <div class="single-small-img">
                  <img src="/assets/CropedImages/<%= data.image[i] %>" alt="<%= data.name %>" class="zoom-image">
                </div>
                <% } %>
            </div>
          </div> -->
          <div class="col-lg-3 col-md-3">
            <ul class="nav nav-tabs" role="tablist">
              <% for (let i=0; i < data.image.length; i++) { %>
                <li class="nav-item">
                  <a class="nav-link <% if (i === 0) { %>active<% } %>" data-toggle="tab" href="#tabs-<%= i + 1 %>"
                    role="tab">
                    <div class="product__thumb__pic">
                      <img src="/assets/CropedImages/<%= data.image[i] %>" alt="<%= data.name %>" class="zoom-image">
                    </div>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="col-lg-6 col-md-9">
            <div class="tab-content" style="margin-top: 50px;">
              <% for (let i=0; i < data.image.length; i++) { %>
                <div class="tab-pane <% if (i === 0) { %>active<% } %>" id="tabs-<%= i + 1 %>" role="tabpanel">
                  <div class="product__details__pic__item">
                    <img src="/assets/CropedImages/<%= data.image[i] %>" alt="<%= data.name %>" class="zoom-image">
                  </div>
                </div>
                <% } %>
            </div>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="product-info">
            <h3>
              <%= data.name %>
            </h3>
            <h2>₹ <%= data.price %>
            </h2>
            <ul class="list">
              <li><span>Category</span>: <%= data.category %>
              </li>
              <li>
                <span>Availability</span>: <% if (data.stock> 0) { %> In Stock
                  <% } else { %> Out of stock <% } %>
              </li>
            </ul>
            <p>
              <%= data.description %>
            </p>

            <div class="quantity">
              <div class="quantity-controls">
                <button class="quantity-decrease">-</button>
                <input class="input-number" type="number" value="1" min="1" max="10" />
                <button class="quantity-increase">+</button>
              </div>
            </div>
            <div class="product-actions">

              <div class="add_to_cart">
                <button type="submit" onclick="addToCart('<%= data._id %>')" class="btn btn-danger mx-3">
                  Add To Cart
                </button>
              </div>
              <div class="add_to_wishlist">
                <button class="py-3 btn_3" onclick="addToWishlist('<%= data._id %>')">
                  <i class="far fa-heart"></i>
                  <span>Add to Wishlist</span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- Single Product Area End -->

    <!-- Subscribe Part Start -->
    <section class="subscribe-part">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="subscribe-content">
              <h2>Get promotions & updates!</h2>
              <p>
                Seamlessly empower fully researched growth strategies and
                interoperable internal or “organic” sources credibly innovate
                granular internal.
              </p>
              <div class="subscribe-form">
                <input type="email" placeholder="Enter your email" />
                <a href="#" class="btn_1">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe Part End -->
  </main>
  <style>
    /* Zoom on hover */
    .zoom-image {
      transition: transform 0.9s ease-in-out;
    }

    .zoom-image:hover {
      transform: scale(1.2);
    }
  </style>



  <script>
    function addToCart(id) {
      console.log(id);
      $.ajax({
        url: "/addtocart",
        method: "post",
        encoded: true,
        data: {
          id: id,
        },
      }).done((data) => {
        if (data.success) {
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Product added to cart",
            showConfirmButton: false,
            timer: 1500,
          });
        }else{
          window.location.href = '/login';

        }
      });
    }

    function addToWishlist(id) {
      console.log(id);
      $.ajax({
        url: "/addToWishlist",
        method: "post",
        encoded: true,
        data: {
          Id: id,
        },
      }).success((response) => {
        if (response.success) {
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Added To Wishlist",
            showConfirmButton: false,
            timer: 1500,
          });
        } else if (response.check) {
          Swal.fire({
            position: "center",
            icon: "warning",
            title: "Oops...",
            text: "Already added to Wishlist!!",
          });
        } else {
          // Handle other cases
        }
      });
    }
  </script>

  <%- include("../layouts/userPartials/footer.ejs") %>